<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2 >Edit article</h2>
        </div>
        <div class="card-body">
            <form action="/articles/update" method="POST"> 
                <input type="hidden" value="<%= article.id %>" name="id">
                <input class="form-control" type="text" name="title" placeholder="Write the article name" value="<%= article.title %>"><br>
                <textarea id="article" name="body" class="form-control" placeholder="Write the article here!"></textarea><br>
                <label >Category</label>
                <select class="form-control" name="category">
                    <% categories.forEach((category) => { %> 
                        <% if(category.id == article.categoryId) { %> 
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% }else { %> 
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %> 
                    <% }) %> 
                </select>
                <br>
                <button class=" btn btn-success">Update</button>
            </form>
        </div>
    </div>
    
</div>

<div id="content" style="display: none;">
    <%- article.body %> 
</div>

<%- include ('../../partials/footer.ejs') %> 

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'autolink link image lists preview hr insertdatetime save paste'
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent($("#content").html())
        }
    })
</script>