<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Category editing</h2>
        </div>
        <div class="card-body">
            <form action="/categories/update" method="POST"> 
                <input class="form-control" type="text" name="title" placeholder="Write the category name" value="<%= category.title %>"><br>
                <input type="hidden" name="id" value="<%= category.id %>">
                <button class=" btn btn-success">Edit</button>
            </form>
        </div>
    </div>
    
</div>
<%- include ('../../partials/footer.ejs') %> 