<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 

<div class="container">
    <hr>
    <h2>Users</h2>
    <a class="btn btn-success" href="/admin/users/create">Create new user</a>
    <hr>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user) => {  %>
                <tr>
                    <th><%= user.id %></th>
                    <th><%= user.email %></th>
                </tr> 
            <% }) %> 
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs') %> 